<h1>Games#new</h1>

<!-- <p>Find me in app/views/games/new.html.erb</p> -->

<% @letters.each do |letter|%>
  <div>
    <%= letter.capitalize %>
  </div>

<%end%>


<form action="/score" method= "post">
  <input type="text" name="word">
  <input type="submit" value="Play">
</form>
